@model vidosa.Models.User

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row"  id="new-password">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 form-container">
        <p>Please enter your new Password</p>
        <div>
            @using (Ajax.BeginForm("NewPassword", "Account", null,
                   new AjaxOptions()
                   {
                       HttpMethod = "post",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "new-password"
                   },
                   new
                   {
                       @class = "form-inline",
                       display = "inline",
                       style = "width:100%"
                   }))
            {
                <div class="form-group" style="width:98%;">
                    @Html.Password("newpassword", null,
                      new
                      {
                          @class= "form-control",
                          style = "margin-bottom:3%;width:98%",
                          placeholder = "Enter new password"
                      })
                </div>
                <br />
                <div class="form-group" style="width:98%;">
                    @Html.Password("confirmpassword", null,
                      new
                      {
                          @class= "form-control",
                          style = "margin-bottom:3%;width:98%",
                          placeholder = "Enter new password"
                      })
                </div>
                <div class="form-group" style="width:98%;">
                    @Html.Hidden("email", @Model.Email,
                      new
                      {
                          @class= "form-control",
                          style = "margin-bottom:3%;width:98%"
                      })
                </div>
                <p>@ViewBag.PasswordChanged</p>
                <input type="submit" value="Reset Password" class="btn-primary" style="padding:3%;width:97%;margin-bottom:3%;background-color: orange;border: none;" />
            }
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
