@model vidosa.Models.ContactView
@{
    ViewBag.Title = "Contact";
    ViewBag.Keywords = "testing keywords, another, here, and there";
    ViewBag.Description = "This is a testing description";
}

<div class="contact-page col-lg-6 col-lg-offset-3">
    <div class="contact-page-form">
        <div class="contact-error">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        @using (Ajax.BeginForm("RequestContact", "Home",
        new
        {

        }, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "async-page-loading-img",
            UpdateTargetId = "container"
        }))
        {
            <div class="form-group">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "FirstName" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Message" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-lg-3 con-mes-sen">
                    <input type="submit" value="Send" class="btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
@if (Request.IsAjaxRequest())
{
    <meta name="author" content="Monaila Kgotliso" />
    <meta name="keywords" content="testing keywords, another, here, and there" />
    <meta name="description" content="This is a testing description" />
    <meta name="title" content="Contact - title" />
}
@*<address>
         <strong>Support:</strong>   <a href="mailto:smonaila@gmail.com">smonaila@gmail.com</a><br />
         <strong>Marketing:</strong> <a href="mailto:smonaila@gmail.com">smonaila@gmail.com</a>
    </address>*@
<div class="col-lg-3"></div>